@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  --  --  --  --  MOBILE FIRST --  --  --  --  */

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3125;
}

/*  --  --  --  --  HEADER  --  --  --  --  */

.header {
    display: flex;
    width: 100%;
    height: 3.5rem;
    padding: 1.25rem 0;
    justify-content: center;
    align-items: center;

    background-color: #5300C8;
    box-shadow: 0 .4375rem .05625rem 0 rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;

    font-family: "Press Start 2P", serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #E5E5E5;
}

.logo__img {
    height: 3.5rem;
    width: 8.625rem;
}

/*  --  --  --  --  MAIN  --  --  --  --  */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.375rem;
}

/*  --  --  --  --  FORM  --  --  --  --  */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
}

.form__titulo {
    font-family: "Press Start 2P", serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #000;
}

.form__imput {
    width: 24.5rem;
    height: 3.625rem;
    background-color: #fff;
    border: 0.1875rem solid #03318C;
    border-radius: 1.875rem;

    font-family: "IBM Plex Mono", serif;
    font-size: 1rem;
    font-weight: 600;
    color: #03318C;
    padding: 0.5rem;
}

.form__imput::placeholder {
    font-family: "IBM Plex Mono", serif;
    font-size: 1rem;
    font-weight: 500;
    color: #03318C;
}

.form__buttons {
    display: flex;
    gap: .8125rem;
    justify-content: center;
    align-items: center;
}

.form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.25rem;
    height: 3.4375rem;
    border-radius: .9375rem;
    font-family: "IBM Plex Mono", serif;
    font-size: 1.25rem;
    font-weight: 500;
}

.button_primary {
    background-color: #03318C;
    color: #fff;
}

.button_secudary {
    background-color: #fff;
    color: #03318C;
    border: 0.1875rem solid #03318C;
}

/*  --  --  --  --  GALLERY  --  --  --  --  */

.main__galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.625rem;
    padding: 0 1rem;
}

.galeria__titulo {
    color: #000;
    text-align: center;
    font-family: "Press Start 2P", serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.galeria__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    background-color: #fff;
}

.galeria__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem;
    margin-bottom: 2rem;
    border-radius: 0.625rem;
    background-color: #5d04d9;
    border: 0.1875rem solid #000;
    box-shadow: -.3125rem .375rem .20625rem 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: "IBM Plex Mono", serif;
}

.card__img {
    width: 11rem;
    height: 10.875rem;
    border-radius: .3125rem;
}

.card__titulo {
    display: flex;
    width:100%;
    justify-content: flex-start;
    font-size: .9375rem;
    font-weight: 400;
}

.card__footer {
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    font-weight: 700;
    font-size: 1rem;
}

.card__icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

/*  --  --  --  --  FOOTER  --  --  --  --  */

.footer {
    display: flex;
    width: 100%;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5300C8;
    box-shadow: 0 .625rem .59375rem 0 rgba(0, 0, 0, 0.25);
}

.footer__info {
    color: #FFF;
    text-align: center;
    font-family: "IBM Plex Mono", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.footer__año {
    font-weight: 200;
}

@media (min-width: 1024px) {

    body {
        align-items: center;
        justify-content: center;
        gap: 3.125rem;
    }

    /*  --  --  --  --  MAIN  --  --  --  --  */

    .main {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    /*  --  --  --  --  FORM  --  --  --  --  */

    .form__button {
        width: 11.75rem;
    }

    /*  --  --  --  --  GALLERY  --  --  --  --  */

    .main__galeria {
        padding: 0 3.625rem;
        width: 50vw;
}
}